In [1]:
dataset_id = "extracreddataset1"

In [2]:
!bq --location=US mk --dataset {dataset_id}

Dataset 'first-planet-266901:extracreddataset1' successfully created.

In [3]:
!bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV {dataset_id}.coronabycountry 'gs://extra-cred/extracred.csv'

Waiting on bqjob_r3e7d53b22356849_0000017200082290_1 ... (1s) Current status: DONE

In [4]:
%%bigquery
select * from extracreddataset1.coronabycountry
limit 3

,date,day,month,year,daily_confirmed_cases,daily_deaths,confirmed_cases,deaths,countries_and_territories,geo_id,country_territory_code,pop_data_2018
0,2019-12-31,31,12,2019,0,0,0,0,United_Arab_Emirates,AE,ARE,9630959
1,2019-12-31,31,12,2019,0,0,0,0,Afghanistan,AF,AFG,37172386
2,2019-12-31,31,12,2019,0,0,0,0,Armenia,AM,ARM,2951776

In [5]:
%%bigquery
select * from extracreddataset1.coronabycountry where countries_and_territories = "Italy" order by year

,date,day,month,year,daily_confirmed_cases,daily_deaths,confirmed_cases,deaths,countries_and_territories,geo_id,country_territory_code,pop_data_2018
0,2019-12-31,31,12,2019,0,0,0,0,Italy,IT,ITA,60431283
1,2020-01-01,1,1,2020,0,0,0,0,Italy,IT,ITA,60431283
2,2020-01-02,2,1,2020,0,0,0,0,Italy,IT,ITA,60431283
3,2020-01-03,3,1,2020,0,0,0,0,Italy,IT,ITA,60431283
4,2020-01-04,4,1,2020,0,0,0,0,Italy,IT,ITA,60431283
...,...,...,...,...,...,...,...,...,...,...,...,...
127,2020-05-06,6,5,2020,1075,236,213013,29315,Italy,IT,ITA,60431283
128,2020-05-07,7,5,2020,1444,369,214457,29684,Italy,IT,ITA,60431283
129,2020-05-08,8,5,2020,1401,274,215858,29958,Italy,IT,ITA,60431283
130,2020-05-09,9,5,2020,1327,243,217185,30201,Italy,IT,ITA,60431283
131,2020-05-10,10,5,2020,1083,194,218268,30395,Italy,IT,ITA,60431283