In [1]:
dataset_id = "samhda_staging"

In [2]:
!bq --location=US mk --dataset {dataset_id}

Dataset 'first-planet-266901:samhda_staging' successfully created.

### creating tables and loading data into tables

In [3]:
!bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV {dataset_id}.samhda_2018 'gs://databases-project/2018.csv'

Waiting on bqjob_r280bfdfaf772d617_0000017018de6cae_1 ... (5s) Current status: DONE

In [4]:
!bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV {dataset_id}.samhda_2017 'gs://databases-project/2017.csv'

Waiting on bqjob_r66735da07a728393_0000017018df5e28_1 ... (8s) Current status: DONE

In [5]:
!bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV {dataset_id}.samhda_2016 'gs://databases-project/2016.csv'

Waiting on bqjob_r46548357bdb4f5a5_0000017018e04c38_1 ... (6s) Current status: DONE

In [6]:
!bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV {dataset_id}.samhda_2015 'gs://databases-project/2015.csv'

Waiting on bqjob_r546b892cd581db7d_0000017018e0c063_1 ... (5s) Current status: DONE

In [7]:
!bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV {dataset_id}.samhda_2014 'gs://databases-project/2014.csv'

Waiting on bqjob_r3aae5516475a4368_0000017018e1331a_1 ... (9s) Current status: DONE

In [8]:
!bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV {dataset_id}.samhda_2012 'gs://databases-project/2012.csv'

Waiting on bqjob_r2bd627508c5f6dfd_0000017018e16269_1 ... (4s) Current status: DONE

### checking that tables were loaded

In [19]:
%%bigquery
select * from samhda_staging.samhda_2012
limit 3

,CASEID,LST,MHINTAKE,MHDIAGEVAL,MHREFERRAL,MENTALHTHSERV,TREATMT,ADMINSERV,SETTINGIP,SETTINGRC,...,PAYASST,NOCHARGELOCATOR,REVCHK1,REVCHK8,REVCHK5,REVCHK10,REVCHK15,REVCHK2,REVCHK17,REVCHK2A
0,201200005,AK,1,1,0,1,0,0,0,0,...,0,-2,1,0,1,1,1,1,-3,0
1,201200006,AK,1,1,1,1,1,1,0,0,...,1,1,1,1,1,1,1,1,1,0
2,201200010,AK,0,1,1,1,0,1,1,0,...,1,0,1,1,1,1,1,1,-3,0

In [4]:
%%bigquery
select * from samhda_staging.samhda_2014
limit 3

,CASEID,LST,MHINTAKE,MHDIAGEVAL,MHREFERRAL,TREATMT,ADMINSERV,SETTINGIP,SETTINGRC,SETTINGDTPH,...,OPRACEPERUNK,OPLEGALTOTVOL,OPLEGALPERVOL,OPLEGALTOTNONFOREN,OPLEGALPERNONFOREN,OPLEGALTOTFOREN,OPLEGALPERFOREN,COD_PCT,TOTADMIS,PERCENTVA
0,201400122,AL,1,1,1,1,1,1,1,1,...,0,9,7,4,1,0,0,4,9,2
1,201400302,AZ,1,1,0,1,1,1,0,1,...,0,2,7,0,0,0,0,4,12,0
2,201400307,AZ,1,1,1,1,1,1,0,1,...,0,4,7,0,0,0,0,1,12,1

In [5]:
%%bigquery
select * from samhda_staging.samhda_2015
limit 3

,CASEID,LST,MHINTAKE,MHDIAGEVAL,MHREFERRAL,TREATMT,ADMINSERV,SETTINGIP,SETTINGRC,SETTINGDTPH,...,LICENMH,LICENSED,LICENPH,LICENSEDFCS,LICENHOS,JCAHO,CARF,COA,CMS,OTHSTATE
0,201500371,AZ,1,1,1,1,1,1,0,0,...,1,1,1,1,1,1,0,0,1,0
1,201500423,AZ,1,1,1,1,0,1,0,0,...,1,0,1,0,1,1,0,0,1,0
2,201500676,AZ,1,1,1,1,1,1,0,0,...,1,1,1,1,1,1,0,0,1,0

In [6]:
%%bigquery
select * from samhda_staging.samhda_2016
limit 3

,CASEID,LST,MHINTAKE,MHDIAGEVAL,MHREFERRAL,TREATMT,ADMINSERV,SETTINGIP,SETTINGRC,SETTINGDTPH,...,OPRACEPERUNK,OPLEGALTOTVOL,OPLEGALPERVOL,OPLEGALTOTNONFOREN,OPLEGALPERNONFOREN,OPLEGALTOTFOREN,OPLEGALPERFOREN,COD_PCT,TOTADMIS,PERCENTVA
0,201600225,AL,1,1,1,1,1,1,1,1,...,0,10,7,0,0,0,0,1,5,0
1,201600672,AZ,1,1,1,1,1,1,0,1,...,0,4,7,0,0,0,0,0,10,2
2,201600894,AZ,1,1,1,1,1,1,0,1,...,0,4,7,0,0,0,0,1,12,3

In [7]:
%%bigquery
select * from samhda_staging.samhda_2017
limit 3

,lst,caseid,MHINTAKE,MHDIAGEVAL,MHREFERRAL,MENTALHTHSERV,TREATMT,ADMINSERV,SETTINGIP,SETTINGRC,...,LICENMH,LICENSED,LICENPH,LICENSEDFCS,LICENHOS,JCAHO,CARF,COA,CMS,OTHSTATE
0,TX,201709920,1,1,1,1,1,1,1,0,...,0,0,1,0,1,1,0,0,1,0
1,AZ,201700692,0,1,0,1,1,1,1,0,...,0,0,1,0,1,1,0,0,1,0
2,AZ,201700746,1,1,1,1,0,1,1,0,...,1,0,1,0,1,1,0,0,1,0

In [8]:
%%bigquery
select * from samhda_staging.samhda_2018
limit 3

,CASEID,LST,MHINTAKE,MHDIAGEVAL,MHREFERRAL,TREATMT,ADMINSERV,SETTINGIP,SETTINGRC,SETTINGDTPH,...,OPRACEPERUNK,OPLEGALTOTVOL,OPLEGALPERVOL,OPLEGALTOTNONFOREN,OPLEGALPERNONFOREN,OPLEGALTOTFOREN,OPLEGALPERFOREN,COD_PCT,TOTADMIS,PERCENTVA
0,201805794,MO,1,1,1,1,1,0,0,0,...,0,9,7,0,0,0,0,5,10,1
1,201800095,AL,1,1,1,0,0,1,1,1,...,0,0,0,0,0,0,0,-1,11,1
2,201800209,AL,0,0,1,0,0,1,1,1,...,0,0,0,0,0,0,0,0,8,-1

In [33]:
%%bigquery
#these facilities offer substance abuse treatment, in order of states 
select * from samhda_staging.samhda_2012 where treatmt = 1 order by lst

,CASEID,LST,MHINTAKE,MHDIAGEVAL,MHREFERRAL,MENTALHTHSERV,TREATMT,ADMINSERV,SETTINGIP,SETTINGRC,...,PAYASST,NOCHARGELOCATOR,REVCHK1,REVCHK8,REVCHK5,REVCHK10,REVCHK15,REVCHK2,REVCHK17,REVCHK2A
0,201200006,AK,1,1,1,1,1,1,0,0,...,1,1,1,1,1,1,1,1,1,0
1,201200026,AK,1,1,1,1,1,0,0,0,...,1,1,0,1,1,-3,1,1,1,0
2,201200033,AK,1,1,1,1,1,1,0,0,...,1,0,1,0,1,1,1,1,0,0
3,201200081,AK,1,0,1,1,1,0,0,0,...,1,0,-3,1,1,1,1,1,1,0
4,201200027,AK,1,1,1,1,1,1,0,0,...,1,0,1,0,1,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7101,201213795,WY,1,1,1,1,1,0,0,1,...,0,-2,0,0,1,1,0,0,0,0
7102,201213764,WY,1,1,0,1,1,1,0,1,...,0,-2,1,0,1,1,0,1,-3,0
7103,201213765,WY,1,1,1,1,1,1,0,1,...,0,-2,1,0,1,1,-3,1,-3,0
7104,201213796,WY,1,1,1,1,1,1,0,1,...,0,-2,1,0,1,1,1,1,0,0
7105,201213797,WY,1,1,0,1,1,1,0,1,...,0,-2,1,0,1,1,0,1,0,0

In [32]:
%%bigquery
#these facilities offer family psychoeducation, ordered by caseid 
select * from samhda_staging.samhda_2014 where fampsyched = -1 order by caseid

,CASEID,LST,MHINTAKE,MHDIAGEVAL,MHREFERRAL,TREATMT,ADMINSERV,SETTINGIP,SETTINGRC,SETTINGDTPH,...,OPRACEPERUNK,OPLEGALTOTVOL,OPLEGALPERVOL,OPLEGALTOTNONFOREN,OPLEGALPERNONFOREN,OPLEGALTOTFOREN,OPLEGALPERFOREN,COD_PCT,TOTADMIS,PERCENTVA
0,201400039,AL,0,0,0,0,0,0,1,0,...,-2,-2,-2,-2,-2,-2,-2,0,8,0
1,201400104,AL,1,1,1,0,0,1,0,0,...,-2,-2,-2,-2,-2,-2,-2,0,8,0
2,201400172,AL,1,1,1,0,0,0,0,1,...,7,4,7,0,0,0,0,-1,5,0
3,201400464,AZ,1,0,1,1,1,0,1,0,...,-2,-2,-2,-2,-2,-2,-2,3,3,0
4,201400628,AZ,1,1,1,1,0,0,0,0,...,0,1,7,0,0,0,0,11,11,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,201412200,WA,1,1,1,1,1,1,0,1,...,7,1,7,0,0,0,0,1,1,11
105,201412279,WA,1,1,1,1,1,0,0,0,...,0,3,7,0,0,0,0,11,5,0
106,201412469,WI,0,0,0,1,0,0,0,0,...,-2,-2,-2,-2,-2,-2,-2,-2,-1,-2
107,201412551,WI,1,1,1,1,1,0,0,0,...,0,1,1,6,7,0,0,5,8,1
108,201412966,PR,1,1,1,1,0,0,0,1,...,0,2,7,0,0,0,0,2,8,0

In [31]:
%%bigquery
#department of veterans affairs operate these facilities, in order of state and caseid
select * from samhda_staging.samhda_2015 where publicagency = 6 order by caseid,lst

,CASEID,LST,MHINTAKE,MHDIAGEVAL,MHREFERRAL,TREATMT,ADMINSERV,SETTINGIP,SETTINGRC,SETTINGDTPH,...,LICENMH,LICENSED,LICENPH,LICENSEDFCS,LICENHOS,JCAHO,CARF,COA,CMS,OTHSTATE
0,201500123,AL,1,1,1,1,1,0,0,0,...,0,0,0,0,0,1,1,0,0,0
1,201500124,AL,1,1,1,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
2,201500125,AL,1,1,1,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
3,201500126,AL,1,1,1,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
4,201500127,AL,1,1,1,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457,201512822,WI,1,1,1,1,1,1,1,1,...,1,1,1,1,0,1,1,1,1,0
458,201512823,WI,1,1,1,1,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
459,201512824,WI,1,1,1,1,1,0,0,0,...,0,0,0,0,0,1,1,0,0,0
460,201512825,WI,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,1,0,1,0
461,201512826,WV,1,1,1,1,1,1,1,1,...,0,0,0,0,0,1,1,0,0,0

In [28]:
%%bigquery
#these mental health treatment centers accept cash or self-payment, ordered by publicagency  
select * from samhda_staging.samhda_2016 where revchk1 = 1 order by publicagency

,CASEID,LST,MHINTAKE,MHDIAGEVAL,MHREFERRAL,TREATMT,ADMINSERV,SETTINGIP,SETTINGRC,SETTINGDTPH,...,OPRACEPERUNK,OPLEGALTOTVOL,OPLEGALPERVOL,OPLEGALTOTNONFOREN,OPLEGALPERNONFOREN,OPLEGALTOTFOREN,OPLEGALPERFOREN,COD_PCT,TOTADMIS,PERCENTVA
0,201600225,AL,1,1,1,1,1,1,1,1,...,0,10,7,0,0,0,0,1,5,0
1,201600672,AZ,1,1,1,1,1,1,0,1,...,0,4,7,0,0,0,0,0,10,2
2,201600894,AZ,1,1,1,1,1,1,0,1,...,0,4,7,0,0,0,0,1,12,3
3,201601066,CA,1,1,1,0,0,1,0,1,...,0,6,7,0,0,0,0,5,9,1
4,201601104,CA,1,1,1,1,1,1,0,1,...,0,4,7,0,0,0,0,5,10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10145,201610100,SC,1,1,1,0,0,0,0,0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
10146,201611575,WA,1,1,1,1,1,0,1,0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
10147,201604467,LA,1,1,1,1,1,0,0,1,...,1,10,7,0,0,0,0,2,8,1
10148,201603419,IL,1,1,1,1,1,0,0,0,...,7,2,7,0,0,0,0,0,9,-1
10149,201610516,TX,1,1,0,1,0,0,0,0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [29]:
%%bigquery
#these facilities accept patients 65 years or older for treatment, ordered by state
select * from samhda_staging.samhda_2017 where seniors = 1 order by lst

,lst,caseid,MHINTAKE,MHDIAGEVAL,MHREFERRAL,MENTALHTHSERV,TREATMT,ADMINSERV,SETTINGIP,SETTINGRC,...,LICENMH,LICENSED,LICENPH,LICENSEDFCS,LICENHOS,JCAHO,CARF,COA,CMS,OTHSTATE
0,AK,201700035,1,1,1,1,1,1,1,0,...,0,0,0,0,-1,1,0,0,1,0
1,AK,201700043,1,1,1,1,0,1,1,0,...,1,0,1,0,1,1,0,0,1,0
2,AK,201700067,1,1,1,1,1,1,1,0,...,0,0,1,0,0,1,0,0,1,0
3,AK,201700051,0,1,1,1,0,1,1,0,...,1,1,1,0,1,1,0,0,1,0
4,AK,201700068,1,1,1,1,1,0,1,0,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9250,WY,201711577,1,1,1,1,1,1,0,0,...,0,0,1,0,0,0,1,0,0,0
9251,WY,201711578,1,1,1,1,1,0,0,0,...,0,0,1,0,0,0,1,0,0,0
9252,WY,201711558,1,1,1,1,1,0,0,1,...,1,1,1,1,0,0,1,0,1,0
9253,WY,201711579,1,1,1,1,1,0,0,0,...,0,0,1,0,0,0,1,0,0,0
9254,WY,201711581,1,1,1,1,1,1,0,0,...,0,1,1,0,1,0,1,0,1,0

In [30]:
%%bigquery
#these facilities do not offer suicide prevention services, and they are in order of caseid
select * from samhda_staging.samhda_2018 where mhsuicide = 0 order by caseid

,CASEID,LST,MHINTAKE,MHDIAGEVAL,MHREFERRAL,TREATMT,ADMINSERV,SETTINGIP,SETTINGRC,SETTINGDTPH,...,OPRACEPERUNK,OPLEGALTOTVOL,OPLEGALPERVOL,OPLEGALTOTNONFOREN,OPLEGALPERNONFOREN,OPLEGALTOTFOREN,OPLEGALPERFOREN,COD_PCT,TOTADMIS,PERCENTVA
0,201800005,AK,1,1,1,1,0,0,0,0,...,-2,7,-2,0,-2,0,-2,5,7,3
1,201800007,AK,1,1,1,0,0,0,0,0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,201800009,AK,1,1,1,0,0,0,0,0,...,2,8,7,0,0,0,0,0,8,0
3,201800012,AK,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,-2,4,0
4,201800013,AK,1,1,1,0,1,1,0,0,...,-2,-2,-2,-2,-2,-2,-2,-1,12,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4772,201811649,WY,0,0,0,0,1,1,0,0,...,-1,-2,-1,-2,-1,-2,-1,6,10,1
4773,201811663,WY,1,1,1,1,0,0,0,0,...,-2,8,-2,1,-2,0,-2,-1,9,1
4774,201811669,WY,1,1,1,0,1,0,1,0,...,-2,-2,-2,-2,-2,-2,-2,3,6,0
4775,201811676,WY,1,1,1,1,0,0,0,0,...,-2,8,-2,1,-2,0,-2,-1,8,1
4776,201811682,ZZ,1,1,1,0,0,1,0,0,...,-2,-2,-2,-2,-2,-2,-2,2,8,0